/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  background:rgb(247, 247, 247)
}

.banner {
  color: white;
  text-align: center;
  height: 90vh;
  background-position:top;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  // padding-bottom:50px
  margin:0;
}

.banner .btn-circle {
  height: 200px;
  width: 200px;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 50%;
  color: black;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}

.banner .btn-circle:hover {
  cursor:pointer;
  height:250px;
  width:250px;
  color:black
}

.banner .btn-circle h2 {
  margin-top:0;
  margin-bottom:0;
  font-size:26px
}

.banner a {
  text-decoration:none
}


button.slide {
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1.25;
  margin: 0.5em 0;
  padding: 1em 2em;
  color: #50307B;
  transition: 0.4s;
  width:100%;
  min-height:80px;

  &:hover,
  &:focus {
    border-color: #50307B;
    color: #fff;
  }
}


.card-graph {
  box-shadow:1px 1px 3px #E7E5E5;
  cursor:pointer;
  transition:ease-in-out 0.3s;
  background:white;
  width:90%
}

.flexbox-wrap-space-between .card-graph {
  flex: 0 0 48%
}

.choices-box {
  box-shadow:1px 1px 3px #E7E5E5;
  background:white;
  width:80%;
  h2 {
    margin-bottom:0
  }
}

.choices-box p {
  padding:20px 15px;
  color:#6A6E6F;
  font-size:14px
}

.card-graph:hover {
  transform:translateY(-6px);
  -webkit-box-shadow:0 10px 10px #E7E5E5;

}

a:hover {
  text-decoration:none
}
.img-content {
  background-size: cover !important;
  height: 100%;
  background-position:center;
}

.description-card-graph {
 background: white;
 padding:20px 20px 20px 20px;
 background:rgb(251, 250, 250);
}

.img-card-graph {
  background: white;
}



button.slide:hover, .slide:focus {
  // box-shadow: inset 30em 0 0 0 #50307B;
  background-color:#50307B
}

.color-wavestone {
  color:#50307B
}



.mt-50px {
  margin-top:50px
}

.mb-50px {
  margin-bottom:50px
}

.of-y-scroll {
  overflow-y:scroll
}
.of-x-hidden {
  overflow-x:hidden
}

.h-90vh {
  height:85vh !important;
  height:85%
}

.fs-8px {
  font-size:8px
}
.fs-16px {
  font-size:16px
}

.fs-20px {
  font-size:20px
}

.fs-24px {
  font-size:24px
}
.fs-50px {
  font-size:50px
}
.ff-normal {
  font-family:"Open Sans", "Helvetica", "sans-serif"
}

.lh-1-5 {
  line-height: 1.5
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align:right
}

.p-lr-40px {
  padding-left:40px;
  padding-right:40px
}

.p-20px {
  padding:20px
}

.p-10px {
  padding:10px
}

.mt-30px {
  margin-top:30px
}

.mt-40px {
  margin-top:40px
}

.b-2px-wavestone {
  border:2px solid #50307B
}

.h-200px {
  height:200px
}

.no-underline {
  text-decoration:none
}
.no-mt {
  margin-top:0;
}

.color-grey {
  color:#8F8F8F;
}

.color-white {
  color:white
}

.ml-10px {
  margin-left:10px
}

.position-abs {
  position:absolute
}

.position-rel {
  position:relative
}

.dashboard {
  // left: 295px;
  font-size: 20px;
  // top: -3px;
}

.graph-show {
  width:50%;
  margin:auto
}

.bc-white {
  background-color: white
}

.bc-transparent {
  background-color: rgba(255, 255, 255, 0.9)
}

.h-100percent {
  height:100%
}

.bc-wavestone {
  background-color:#50307B
}

.flexbox-space-between {
  display:flex;
  justify-content:space-between;
  i {
    top: -5px;
    left: -30px;
  }
}

.flexbox-wrap-space-between {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.no-hover {
  opacity:0;
  transition:ease-in-out 0.4s
}

 .no-hover:hover {
  opacity:1
}


















.roll {
  // position: absolute;
  // top: 38%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 50px;
  // font-family: 'Lato', sans-serif;
  color: white;
  height: 62px;
  overflow:hidden;
  margin: 0px 0 60px 0;
}

.rollvisible {
  font-weight:600;
  overflow:hidden;
  height:80px;
  // padding:0 40px;
}


.rollvisible p {
  display:inline;
  float:left;
  margin:0;
}

.rollvisible ul {
  margin-top:0;
  // padding-left:1;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  padding-left: 0;
}

.rollvisible ul li {
  line-height:30px;
  margin:0;
  font-size: 20px;
  text-align: center;
  font-weight:lighter;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-33%);}
  34%,46% {transform:translateY(-66%);}
  51%,63% {transform:translateY(-33%);}
  68%,80% {transform:translateY(-66%);}
  85%,97% {transform:translateY(-33%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-33%);}
  34%,46% {transform:translateY(-66%);}
  51%,63% {transform:translateY(-33%);}
  68%,80% {transform:translateY(-66%);}
  85%,97% {transform:translateY(-33%);}
}
















.banner-content {
  width:100%
}



.mt-10px {
  margin-top:10px
}


a.home-btn {
  position: fixed;
  cursor: pointer;
  top: 50vh;
  left: 50%;
  color: white;
  transform: translate3d(-50%,-50%,0);
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.07em;

  .text {
    // padding: 0 0.3em;
    font-family: proxima-nova;
    transform: translate3d(0,0.7em,0);
    display: block;
    transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
  }

  &:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    // background: #f26522;
    background: #50307B;
    z-index: -1;
    transition:
      transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
      right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
      left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
    transform-origin: left;
  }

}

.line {
  position: absolute;
  // background: #f26522;
  background: #50307B;

  &.-right,
  &.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1,0,1);
  }

  &.-top,
  &.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0,1,1);
  }

  &.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
    transform-origin: top;
  }

  &.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }

  &.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }

  &.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
    transform-origin: right;
  }
}

a.home-btn:hover,
a.home-btn:active {

  .text {
    transform: translate3d(0,0,0);
    transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
  }

  &:after {
    transform: scale3d(0,1,1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition:
      transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
      right 0.2s cubic-bezier(1,0,.65,1.01),
      left 0s 0.3s;
  }

  .line {
    transform: scale3d(1,1,1);

    &.-right {
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
      transform-origin: bottom;
    }

    &.-top {
      transition: transform 0.08s linear 0.4s;
      transform-origin: right;
    }

    &.-left {
      transition: transform 0.08s linear 0.48s;
      transform-origin: top;
    }

    &.-bottom {
      transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
      transform-origin: left;
    }
  }

}
