/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  background:rgb(247, 247, 247)
}

.banner {
  color: white;
  text-align: center;
  height: 90vh;
  background-position:bottom;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom:50px
}

.banner .btn-circle {
  height: 200px;
  width: 200px;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 50%;
  color: black;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}

.banner .btn-circle:hover {
  cursor:pointer;
  height:250px;
  width:250px;
  color:black
}

.banner .btn-circle h2 {
  margin-top:0;
  margin-bottom:0;
  font-size:26px
}

.banner a {
  text-decoration:none
}


button.slide {
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1.25;
  margin: 0.5em 0;
  padding: 1em 2em;
  color: #50307B;
  transition: 0.4s;
  width:100%;
  min-height:80px;

  &:hover,
  &:focus {
    border-color: #50307B;
    color: #fff;
  }
}


.card-graph {
  box-shadow:1px 1px 3px #E7E5E5;
  cursor:pointer;
  transition:ease-in-out 0.3s;
  background:white;
  width:90%
}

.flexbox-wrap-space-between .card-graph {
  flex: 0 0 48%
}

.choices-box {
  box-shadow:1px 1px 3px #E7E5E5;
  background:white;
  width:80%;
  h2 {
    margin-bottom:0
  }
}

.choices-box p {
  padding:20px 15px;
  color:#6A6E6F;
  font-size:14px
}

.card-graph:hover {
  transform:translateY(-6px);
  -webkit-box-shadow:0 10px 10px #E7E5E5;

}

a:hover {
  text-decoration:none
}
.img-content {
  background-size: cover !important;
  height: 100%;
  background-position:center;
}

.description-card-graph {
 background: white;
 padding:20px 20px 20px 20px;
 background:rgb(251, 250, 250);
}

.img-card-graph {
  background: white;
}



button.slide:hover, .slide:focus {
  // box-shadow: inset 30em 0 0 0 #50307B;
  background-color:#50307B
}

.color-wavestone {
  color:#50307B
}



.mt-50px {
  margin-top:50px
}

.mb-50px {
  margin-bottom:50px
}

.of-y-scroll {
  overflow-y:scroll
}
.of-x-hidden {
  overflow-x:hidden
}

.h-90vh {
  height:85vh !important;
  height:85%
}
.fs-16px {
  font-size:16px
}

.fs-20px {
  font-size:20px
}

.fs-24px {
  font-size:24px
}
.fs-50px {
  font-size:50px
}
.lh-1-5 {
  line-height: 1.5
}

.txt-center {
  text-align: center;
}

.p-lr-40px {
  padding-left:40px;
  padding-right:40px
}

.p-20px {
  padding:20px
}

.p-10px {
  padding:10px
}

.mt-30px {
  margin-top:30px
}

.mt-40px {
  margin-top:40px
}

.b-2px-wavestone {
  border:2px solid #50307B
}

.h-200px {
  height:200px
}

.no-underline {
  text-decoration:none
}
.no-mt {
  margin-top:0;
}

.color-grey {
  color:#8F8F8F;
}

.color-white {
  color:white
}

.ml-10px {
  margin-left:10px
}

.position-abs {
  position:absolute
}

.position-rel {
  position:relative
}

.dashboard {
  // left: 295px;
  font-size: 20px;
  // top: -3px;
}

.graph-show {
  width:50%;
  margin:auto
}

.bc-white {
  background-color: white
}

.bc-transparent {
  background-color: rgba(255, 255, 255, 0.9)
}

.h-100percent {
  height:100%
}

.bc-wavestone {
  background-color:#50307B
}

.flexbox-space-between {
  display:flex;
  justify-content:space-between;
  i {
    top: -5px;
    left: -30px;
  }
}

.flexbox-wrap-space-between {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.no-hover {
  opacity:0;
  transition:ease-in-out 0.4s
}

 .no-hover:hover {
  opacity:1
}
