<div class="col-xs-8 of-y-scroll of-x-hidden h-90vh">
  <% if before_results != nil %>
  <h2 class="fs-24px txt-center color-wavestone"><%= before_results.length %> possibilities left</h2>
    <% before_results.each do |result| %>
      <% if !@is_first_question %>
        <% result = result.first %>
      <% end %>
      <%= link_to atlas_path(graph_number: result[0] ) do %>
      <div class="card-graph mb-40px" style="margin-left:40px;margin-top:40px">
        <div class="img-card-graph h-200px">
          <div class="img-content" style="background-image:url('<%= result[1]["image"]%>')">
          </div>
        </div>
        <div class="description-card-graph">
          <h4 class="color-wavestone no-underline no-mt"><%= result[1]["name"] %>

          </h4>
          <div class="flexbox-space-between">
            <p class="color-grey">Level
              <% if result[1]["level"] == "beginner" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
              <% if result[1]["level"] == "intermediate" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
              <% if result[1]["level"] == "advanced" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
              <% if result[1]["level"] == "expert" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i></span></p><% end %>
              <p><span class="dashboard position-abs"><i class="fa fa-tachometer position-rel <% if  result[1]["dashboard"] == true %> color-wavestone <% else %> color-grey <% end %>" aria-hidden="true"></i></span></p>
          </div>

        </div>
      </div>
      <% end %>

    <% end %>
  <% end %>
</div>
