<div class="navbar-wagon flexbox-space-between hidden-xs hidden-sm">
  <%= render 'shared/powered' %>
  <!-- Logo -->
  <div style="flex:0 0 48%;padding-right:40px" class="txt-right">
    <a href="/find" class="navbar-wagon-item navbar-wagon-link"><span class="hover-underline <% if current_page?(:controller => 'pages', :action => 'find') %>color-wavestone underline<% end %>">FIND THE PERFECT GRAPH</span></a>
    <a href="/atlas" class="navbar-wagon-item navbar-wagon-link"><span class="hover-underline <% if current_page?(:controller => 'pages', :action => 'atlas') %>color-wavestone underline<% end %>">ALL GRAPHS</span></a>
  </div>

  <div style="flex:0 0 2%" class="text-center">
    <a href="/" class="navbar-wagon-brand position-rel">
      <img src="<%= asset_url "logo.png" %>" alt="logo dataviz datatask" class="logo-dataviz">
      <img src="<%= asset_url "name_logo.png" %>" alt="" class="position-abs name-logo">
    </a>
  </div>

  <div style="flex:0 0 48%;padding-left:40px">
    <a href="/bestpractices" class="navbar-wagon-item navbar-wagon-link"><span class="hover-underline">BEST PRACTICES</span></a>
    <a href="/about" class="navbar-wagon-item navbar-wagon-link"><span class="hover-underline">ABOUT</span></a>
  </div>

</div>
