<div class="powered-banner">
  <p>Powered by</p>
  <a href="https://www.wavestone.com/fr/offre/the-faktory" target="_blank"><img src="<%= asset_url "faktory_logo.png" %>" alt="Faktory Wavestone Logo" ></a>
</div>
