<div class="col-xs-8 of-y-scroll h-90vh p-lr-40px">
  <h2 class="fs-24px txt-center color-wavestone">You should have a look at...
  <% if @next_graph == true %>
  </h2>
  <div class="flexbox-wrap-space-between">
  <% results.each do |result| %>
        <div class="card-graph mt-40px" style="margin-left:10px">
          <%= link_to atlas_path(graph_number: result[0] ) do %>
          <div class="img-card-graph position-rel h-200px">
            <div class="comparison-content position-abs p-20px bc-transparent h-100percent no-hover">
              <% result[2].each do |comp| %>
                <p class="fs-16px color-grey"><%= comp[1] %></p>
              <% end %>
            </div>
            <div class="img-content" style="background-image:url('<%= result[1]["image"]%>')">
            </div>
          </div>
          <div class="description-card-graph">
            <h4 class="color-wavestone no-underline no-mt"><%= result[1]["name"] %></h4>
            <div class="flexbox-space-between">
              <p class="color-grey">Level
                <% if result[1]["level"] == "beginner" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
                <% if result[1]["level"] == "intermediate" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
                <% if result[1]["level"] == "advanced" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span></p><% end %>
                <% if result[1]["level"] == "expert" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i></span></p><% end %>
                <p><span class="dashboard position-abs"><i class="fa fa-tachometer position-rel <% if  result[1]["dashboard"] == true %> color-wavestone <% else %> color-grey <% end %>" aria-hidden="true"></i></span></p>
            </div>

          </div>
          <% end %>
        </div>






  <% end %>
  </div>

<% end %>
</div>


