<div class="col-xs-9 mt-30px of-y-scroll h-90vh plr-50px">
  <h2 class="fs-24px txt-center color-wavestone mt-10px fw-300">You should have a look at...
  <% if @next_graph == true %>
  </h2>
  <div class="flexbox-wrap-space-between" id="find-results">
  <% results.each do |result| %>
        <div class="card-graph">
          <%= link_to atlas_path(graph_number: result[0] ) do %>
          <div class="img-card-graph position-rel h-140px">
            <div class="comparison-content position-abs p-20px bc-transparent min-h-100percent no-hover">
              <% result[2].each do |comp| %>
                <p class="fs-12px color-wavestone"><%= comp[1] %></p>
              <% end %>
            </div>
            <div class="img-content" style="background-image:url('<%= result[1]["image"]%>')">
            </div>
          </div>
          <div class="description-card-graph">
            <h4 class="color-wavestone no-underline no-mt mb-5px fs-18px"><%= result[1]["name"] %></h4>
            <div class="">
              <p class="color-grey no-mb">Audience level
                <% if result[1]["level"] == "beginner" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "intermediate" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "advanced" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "expert" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i></span><% end %>
              </p>
              <p class="color-grey no-mt no-mb">Dashboard <span class="dashboard ml-10px"><i class="fa fa-tachometer <% if  result[1]["dashboard"] == true %> color-wavestone <% else %> color-grey <% end %>" aria-hidden="true"></i></span></p>
            </div>

          </div>
          <% end %>
        </div>






  <% end %>
  </div>

<% end %>
</div>


