<div class="banner" style="background-image: url('<%= asset_url "font_dataviz.png" %>');">
  <div class="banner-content">
    <h1>Lost in DataViz ?</h1>
      <a href="/find"><div class="btn-circle">
        <h2>Find solution</h2>
      </div></a>
  </div>
</div>

